.container {
    height: 100%;
    width: 100%;
    padding: 5%;
    
}
.row{
    height: 100%;
    width: 100%;
   
}
.titulo {
    background-color: rgb(160, 160, 28);
    color: black;
    padding: 40px;
    text-align: center;
    margin-top: 50px;
}



.btn {
    background-color: blue;
    border-radius: 15px;
    padding-bottom: 10px;
}

footer{
    padding: 10px 10px 0px 10px;
    background-color: rgb(153, 30, 30);
    margin-bottom: 0px;
    padding: 45px;

}

.card-casa{
    flex: 1 200px;
    margin: 10px 0px 0px 10px;
    
}

.btn-reserva{
    width: 100%;
    display: inline-block;
    
}
.btn-primary{
    width: 100%;
    height: 100%;
    text-align: center;
    
}

.contacto {
    text-align: center;
    text-decoration: none;
    color: white;
    
}

.nosotros {
    font-size: 20px;
    border-radius: 20px;
    text-decoration: black;
    color: white;
}

.col-sm-4{
    padding: 0px 15px 0px 0px;
}

.footer-address-icon{
  padding: 5px 10px 0px 0px;
}

.form-group {
    width: 100%;
    
}
.img-fluid {
    width: 100%;
}
.tab-content{
    padding-top: 10px;
}